.reservation__section {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/image5.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 30px;
}
.reservation__content {
  width: 750px;
  height: 400px;
  text-align: center;
}
.reservation__content h1 {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 65px;
  color: white;
}
.reservation__content p {
  font-family: "Roboto";
  width: 700px;
  font-size: 19px;
text-align: center;
color: #ffffff;
}
.reservation__content button {
  font-family: "Cormorant";
  padding: 16px 60px;
background: #ffffff;
border: 1px solid #86907d;
}