:root {
  --logo: #ffffff;
  --sage: #86907d;
  --almost-black: #0f0f0f;
  --grey-dark: #525252;
  --grey-medium: #e0e0e0;
  --Biscuit: #f0d989;
}
/* MOBILE VIEW */

.logo__image {
  height: 25px;
}

.logo {
  display: flex;
  gap: 10px;
  width: 70%;
}

nav {
  position: fixed;
  left: 0;
  top: 120%;
  height: 100vh;
  width: 100%;
  background: blue;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

li a {
  display: block;
  background: white;
  width: 20rem;
  padding: 0.5rem 3rem;
  border-radius: 5rem;
  text-align: center;
  margin-top: 0.8rem;
}
li:hover {
  letter-spacing: 0.3rem;
}
.nav-show {
  top: 0;
}
.nav-large {
  display: flex;
}



.teaPeople__image {
  width: 80%;
  height: auto;
}

.lemon {
  height: 400px;
  width: 250px;
}

.spices__image {
  height: auto;
  width: 100%;
}
.bottles__image {
  height: auto;
  width: 100%;
}

.wise__leaf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.wiseLeaf__content {
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 20px 15px 20px 10px;
  font-family: Roboto;

  font-size: 21px;
  line-height: 28.35px;
}
.wiseLeaf__background {
  grid-column: 1/2;
  grid-row: 1/2;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 400px;
}
.small {
  flex-direction: column;
  width: 300px;
}


@media (max-width: 768px) {
  .large {
    display: none;
  }
}
/* DESKTOP VIEW */
@media (min-width: 720px) {
  li a {
    text-decoration: none;
    color: white;
  }
  .large {
    width: 70%;
    height: 40px;
    display: flex;

    gap: 20px;
    justify-content: flex-end;

    margin-top: 30px;
    margin-right: 10px;
  }
  .link {
    text-decoration: none;
    color: white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
  .header h3 {
    font-family: cormorant;
  }

  .menu__icon {
    display: none;
  }
  .close__icon {
    display: none;
  }
}
.footer__logo {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.footer__flex {
  display: flex;
  justify-content: space-around;
}
.contact__details {
  display: flex;

  gap: 3rem;
}
.copy__right {
  margin-left: 6rem;
}
footer :first-child {
}
h5 {
  font-family: cormorant;
}
